{deps, [
    {sh, "0.0.1",
        {git, "https://github.com/nebularis/sh.git", {tag, "v0.0.1"}}},
    {edown, ".*",  %% NB: require explicitly so those behind proxies can get it
        {git, "https://github.com/esl/edown.git"}},
    {parse_trans, "2.3-14-gf84867a",
        {git, "https://github.com/esl/parse_trans.git", "f84867ab1a"}}
]}.
{ct_extra_params, "-spec selftest.spec"}.
{ct_use_short_names, true}.

{plugins, [systest_rebar]}.
