
{clean_files, ["test-ebin", "priv/bin/*"]}.

{deps, [
    {niceopt, "0.0.8",
        {git, "https://github.com/talentdeficit/niceopt.git", "0e1cb9b"}},

    %% NB: we don't *care* about the version as it's only used to build the
    %% documentation for parse_trans - we require explicitly so that users
    %% behind proxies not configured for git:// or ssh:// can fetch it!
    {edown, ".*",
        {git, "https://github.com/esl/edown.git"}},

    {parse_trans, "2.3-14-gf84867a",
        {git, "https://github.com/esl/parse_trans.git", "f84867ab1a"}}
]}.

{post_hooks, [
    {escriptize, "cp priv/bin/systest "
                 "\"priv/bin/systest-`git describe --abbrev=0 |"
                 " sed 's/v//g'`-SNAPSHOT\""}
]}.

{plugins, [build_escript, systest_rebar]}.
{erl_opts, [{src_dirs, ["src", "test"]}]}.
{erl_first_files, ["systest_runner.erl"]}.

{escript_incl_apps, [niceopt]}.
{escript_incl_extra, [{"include/*", "."},
                      {"ebin/*", "."},
                      {"priv/banner.txt", "."}]}.
{escript_name, "priv/bin/systest"}.
