
{clean_files, ["test-ebin", "priv/bin/*", "doc"]}.

{deps, [
    {niceopt, "0.0.8",
        {git, "https://github.com/talentdeficit/niceopt.git", "0e1cb9b"}},

    %% NB: we don't *care* about the version as it's only used to build the
    %% documentation for parse_trans - we require explicitly so that users
    %% behind proxies not configured for git:// or ssh:// can fetch it!
    {edown, ".*",
        {git, "https://github.com/esl/edown.git"}},

    {parse_trans, "2.3-14-gf84867a",
        {git, "https://github.com/esl/parse_trans.git", "f84867ab1a"}}
]}.

{post_hooks, [
    {escriptize, "cp priv/bin/systest "
                 "\"priv/bin/systest-`git describe --abbrev=0 |"
                 " sed 's/v//g'`-SNAPSHOT\""}
]}.

{erl_opts, [warnings_as_errors]}.

{plugins, [build_support]}.
{escript_incl_apps, [niceopt]}.
{escript_incl_extra, [{"include/*", "."},
                      {"ebin/*", "."},
                      {"priv/banner.txt", "."}]}.
{escript_name, "priv/bin/systest"}.

{edoc_opts, [{dir, "doc"},
             {doclet, edown_doclet},
             {top_level_readme, {"doc/TOC.md",
               "http://github.com/nebularis/systest"}}]}.

{wiki_repo, "../systest.wiki"}.

{xref_checks, []}.
{xref_queries,
    [{"((XC - UC) || (XU - X - B))",[]},
     {"(L - LU)", []},
     {"(LU * (X - XU))",
        %% TODO: 
        [{systest,procs,1},
         {systest,start,2},
         {systest,write_pid_file,1}]},
     {"(DF * (XU + LU))", []},
     {"(X - XU)", []}]}.
