
{clean_files, ["doc"]}.

{deps, [
    {rebar_release_plugin, ".*",
        {git, "https://github.com/hyperthunk/rebar_release_plugin.git"}},
    {edown, ".*", {git, "https://github.com/esl/edown.git"}}
]}.

{edoc_opts, [{doclet, edown_doclet},
             {top_level_readme,
                {"./README.md",
                 "http://github.com/nebularis/systest"}}]}.

{plugins, [rebar_release_plugin]}.
