%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et
%% ----------------------------------------------------------------------------

{lib_dirs, [".", "deps", "deps/systest/ebin"]}.
{erl_opts, [warnings_as_errors]}.

{pre_hooks, [
    {compile, "mkdir -p test-ebin"}
]}.
{post_hooks, [
    {compile, "cp ebin/*.* test-ebin/"}
]}.

{plugins, [systest_rebar]}.
