%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et
%% ----------------------------------------------------------------------------

{plugins, [build_support]}.
{erl_opts, [warnings_as_errors]}.
{erl_first_files, ["systest_runner.erl"]}.

{eunit_opts, [{timeout, 60000}]}.

{deps, [
    {niceopt, "0.0.8",
        {git, "https://github.com/talentdeficit/niceopt.git", "0e1cb9b"}},

    %% NB: we don't *care* about the version as it's only used to build the
    %% documentation for parse_trans - we require explicitly so that users
    %% behind proxies not configured for git:// or ssh:// can fetch it!
    {edown, ".*",
        {git, "https://github.com/esl/edown.git"}},

    {parse_trans, "2.7",
        {git, "https://github.com/uwiger/parse_trans.git", {tag, "2.7"}}}
]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
