%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et
%% ----------------------------------------------------------------------------

{plugins, [build_support]}.
{erl_opts, [{src_dirs, ["src", "test"]}]}.
{erl_first_files, ["systest_runner.erl"]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
