
{global_node_config, [
    {startup, [
        {handler, systest_cli},
        {link_to_parent, true}
    ]},
    {flags, [
        {start, ["{{ base_dir }}/priv/start",
                 {node, id},
                 {environment, "LOGDIR"}]},
        {stop,  ["{{ base_dir }}/priv/stop",
                  {node, id}]}
    ]}
]}.

{three_node_timer_jumble, [
    {cluster, [{localhost, [red, green]}]},
    {red, [
        {flags, [{start, [{"--dumpfile", "red.dump"}]}]}
    ]},
    {green, [
        {flags, [{start, [{"--dumpfile", "green.dump"}]}]}
    ]},
]}.
