
%% typically this would be in something like (global|nodes).config
{global_node_config, [
    {startup, [
        {handler, systest_cli},
        {link_to_parent, true},
        {detached, false},
        {rpc_enabled, {true, {init, stop, []}}}
    ]},
    {flags, [
        {start, [
            {program, "{{ base_dir }}/resources/test/start"},
            {args, ["${node.id}"]},
            {environment, [
                {"LOGDIR", "%{TMPDIR}/logs/${node.id}.log"},
                {"DUMPDIR", "${ct.priv_dir}/dump/${node.id}.log"},
                {"PORT", "${node.user.port}"}
            ]}
        ]},
        {stop,  [{program, "{{ base_dir }}/resources/test/stop"},
                 {args, ["${node.id}"]}]}
    ]}
]}.

{example_node_config, [
    {startup, [
        {handler, systest_slave},
        {link_to_parent, true},
        {detached, true},
        {rpc_enabled, default}
    ]},
    {flags, [
        {start, [{program, "{{ base_dir }}/resources/test/start"},
                 {args, ["${node.id}"]}]},
        {stop,  [{program, "{{ base_dir }}/resources/test/stop"},
                 {args, ["${node.id}"]}]}
    ]}
]}.

{systest_cli_config_example, [
    {cluster, [{localhost, [red, green]}]},
    {nodes, [
        {red,   [example_node_config]},
        {green, [example_node_config]}
    ]},
    {user_data, [
        {red, [{port, 5432}]},
        {green, [{port, 5431}]}
    ]}
]}.

{cli_2node_cluster, [
    {cluster, [{localhost, [red, green]}]},
    {nodes, [
        {red,   [global_node_config]},
        {green, [global_node_config]}
    ]},
    {user_data, [
        {red, [{port, 5432}]},
        {green, [{port, 5431}]}
    ]}
]}.

{detached_node, [
    {startup, [{link_to_parent, false},
               {detached,       true}]},
    {flags, [
        {start, [{program, "{{ base_dir }}/resources/test/start-daemon"},
                 {args, ["${node.id}"]}]}
    ]}
]}.

{handling_detached_processes, [
    {cluster, [{localhost, [yellow, blue]}]},
    {nodes, [
        {yellow, [global_node_config, detached_node]},
        {blue, [global_node_config, detached_node]}
    ]}
]}.

{shared, [
    {systest_cli_SUITE, [
        {all, cli_2node_cluster}
    ]}
]}.

