
%% typically this would be in something like (global|nodes).config
{global_node_config, [
    {startup, [
        {handler, systest_cli},
        {link_to_parent, true},
        {detached, false},
        {rpc_enabled, {true, {init, stop, []}}}
    ]},
    {flags, [
        {start, [
            {program, "{{ base_dir }}/resources/test/start"},
            {args, ["${node.id}"]},
            {environment, [
                {"LOGDIR", "%{TMPDIR}/logs/${node.id}.log"},
                {"DUMPDIR", "${ct.priv_dir}/dump/${node.id}.log"},
                {"PORT", "${node.user.port}"}
            ]}
        ]},
        {stop,  [{program, "{{ base_dir }}/resources/test/stop"}, {node, id}]}
    ]}
]}.

{example_node_config, [
    {startup, [
        {handler, systest_slave},
        {link_to_parent, true},
        {detached, true},
        {rpc_enabled, default}
    ]},
    {flags, [
        {start, [{program, "{{ base_dir }}/resources/test/start"},
                 {node, id}, {environment, "LOGDIR"}]},
        {stop,  [{program, "{{ base_dir }}/resources/test/stop"}, {node, id}]}
    ]}
]}.

{systest_cli_config_example, [
    {cluster, [{localhost, [red, green]}]},
    {nodes, [
        {red,   [example_node_config]},
        {green, [example_node_config]}
    ]},
    {user_data, [
        {red, [{port, 5432}]},
        {green, [{port, 5431}]}
    ]}
]}.

{systest_cli, [
    {cluster, [{localhost, [red, green]}]},
    {nodes, [
        {red,   [global_node_config]},
        {green, [global_node_config]}
    ]},
    {user_data, [
        {red, [{port, 5432}]},
        {green, [{port, 5431}]}
    ]}
]}.

{handling_detached_processes, [
    {cluster, [{localhost, [yellow, blue]}]},
    {startup, [{link_to_parent, false},
               {detached, true}]},
    {yellow, [
        {flags, [
            {start, [
                {program, "{{ base_dir }}/resources/test/start-daemon"}
            ]}
        ]}
    ]},
    {blue, [
%    {stop, {call, systest_cli_test_utils,
%                  stop, [green]}}
        {flags, [
            {start, [
                {program, "{{ base_dir }}/resources/test/start-daemon"}
            ]}
        ]}
    ]}
]}.

{three_node_timer_jumble, [
    {cluster, [{localhost, [red, green]}]},
    {red, [
        {flags, [{start, [{"--dumpfile", "red.dump"}]}]}
    ]},
    {green, [
        {flags, [{start, [{"--dumpfile", "green.dump"}]}]}
    ]}
]}.

