{
    systest_node, [
        {cluster, [{localhost, [node1, node2]}]},
                   % {frigg, [node2]}]},
        {node1, [
            {emulator_flags,
                "-boot start_sasl +W w "
                "+K true +A30 +P 1048576 "
                "-pa ebin "},
            {startup, [
                {handler, systest_slave},
                {link_to_parent, false}
            ]},
            {static, [
                {applications, [{sasl, [{errlog_type, error}]}]}
            ]},
            {runtime, [
                {extra, [{systest, write_pid_file, [{dir, [scratch]}]}]}
            ]}
        ]},
        {node2, [
            {emulator_flags,
                "-boot start_sasl +W w "
                "+K true +A30 +P 1048576 "
                "-pa ebin "},
            {startup, [
                {handler, systest_slave},
                {link_to_parent, false}
            ]},
            {static, [
                {applications, [{sasl, [{errlog_type, error}]}]}
            ]},
            {runtime, [
                {extra, [{systest, write_pid_file, [{dir, [scratch]}]}]}
            ]}
        ]}
    ]
}.

