
{sasl_node, [
    {startup, [{handler, systest_slave},
               {link_to_parent, true}]},
    {flags, [{start, "-boot start_sasl +W w +K true +A30 +P 1048576"
                     " -pa {{ base_dir }}/ebin "
                     "-systest scratch_dir '{file,\"{{ scratch_dir }}\"}'"}]},
    {on_start, [{systest, write_pid_file, []}]},
    {apps, [{sasl, [{errlog_type, error}]}]}
]}.

{restarting_nodes, [
    {cluster, [{localhost, [node1, node2]}]},
    {nodes, [{node1, [sasl_node]}, {node2, [sasl_node]}]}
]}.

