
{basic_node, [
    {startup, [
        {handler, systest_slave}
    ]},
    {flags, [
        {start, "-boot start_sasl +W w "
                "+K true +A30 +P 1048576 "
                "-pa ebin "}
    ]}
]}.

{systest_supervision, [
    {cluster, [
        {localhost, [red, blue]}
    ]},
    {nodes, [
        {red,  [basic_node]},
        {blue, [basic_node]}
    ]}
]}.

{should_fail, [
    {cluster, [{localhost, [nostart]}]},
    {nodes, [
        {nostart, [basic_node]}
    ]}
]}.

{init_per_tc_manages_shutdown, [
    {cluster, [{localhost, [a, b]}]},
    {nodes, [
        {a, [basic_node]},
        {b, [basic_node]}
    ]}
]}.

{end_per_tc_automation, [
    {cluster, [{localhost, [x,y,z]}]},
    {nodes, [
        {x, [basic_node]},
        {y, [basic_node]},
        {z, [basic_node]}
    ]}
]}.

